.body{
    background-color: #fffcf2;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../pic/base.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.body_pet{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(/static/pic/ghost.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0;
    right: 0;
}