@media screen and (max-width: 900px) {
    .form-block{
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .include{
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 600px) {
    .include_input-block{
        display: flex;
        flex-direction: column;
    }
    .include_name{
        font-size: 20px;
        padding-top: 25px;
    }
}