@use"../../mixin/mixin" as *;


.advantages{
    display: flex;
    flex-direction: column;
    background: var(--White);
    padding: 80px 24px;
    gap: 40px;

    &_title{
        @include text-style("2", "desktop");
        padding-left: 32px;
    }

    &_carts{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 16px;
    }

    &_cart{
        @include cart-style();
        display: flex;
        flex-direction: column;
        grid-column: span 3 / span 3;
        width: 100%;
    }

    &_header{
        padding: 12px 0 12px 16px;
        border-radius: 24px 24px 0 0 ;
        display: flex;
        align-items: center;
        gap: 12px;
        background: rgba(255, 255, 255, 0.7);
    }
    
    &_header-title{
        @include text-style("3","desktop");
    }

    &_content{
        display: flex;
        padding: 16px 24px 24px 24px;
        gap: 16px;
        @include text-style("body", "desktop");
        color: var(--Grey);
    
    }
}

//АДАПТИВ

@media screen and (max-width:850px) {
    .advantages{
        &_carts{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 16px;
        }
        
    }
}

@media screen and (max-width:550px) {
    .advantages{
        padding: 40px 8px;
        &_title{
            @include text-style("2", "mobile");
            padding-left: 20px;
        }   
        &_content{
            @include text-style("body", "mobile");
        }
        &_header-title{
            @include text-style("3", "mobile");
        }
    }
}








