:root{
    --blue: rgba(71, 84, 235, 1);
    --grey: rgba(128, 128, 128, 1);
    --black: rgba(26, 26, 26, 1);
    --white: rgba(255, 255, 255, 1);
    --pink: rgba(235, 71, 139, 1);
    --purple:  rgba(134, 51, 176, 1);
    --yellow: rgba(255, 223, 128, 1);
    --orandge: rgba(244, 123, 37, 1);
    --background: rgba(242, 242, 242, 1);
    --ltGrey: rgba(217, 217, 217, 1);
    --hoverBlue: rgba(98, 110, 235, 1);
    --inactiveBlue: rgba(47, 59, 183, 1);
}