:root{
    --Blue: rgba(71, 84, 235, 1);
    --Grey: rgba(128, 128, 128, 1);
    --Black: rgba(26, 26, 26, 1);
    --White: rgba(255, 255, 255, 1);
    --Pink: rgba(235, 71, 139, 1);
    --Purple:  rgba(134, 51, 176, 1);
    --Yellow: rgba(255, 223, 128, 1);
    --Orandge: rgba(244, 123, 37, 1);
    --Background: rgba(242, 242, 242, 1);
    --LtGrey: rgba(217, 217, 217, 1);
}