@use"../../mixin/mixin" as *;

.price{  
    background-color: var(--white);
    padding: 50px 56px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    gap: 24px;

    &_left{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    &_img-cirk{
        width: 465px;
        height: 465px;
        overflow: hidden; 
        border-radius: 50%;
    }

    &_img{
        filter: blur(240px);
    }

    &_img-main{
        width: 628px;
        height: 640px;
        z-index: 2;
    }

    &_title{
        @include text-style("1", "desktop");
        max-width: 80%;
    }

    &_form{
        display: flex;
        gap: 16px;
        flex-direction: column;
        padding-right: 163px;
    }

    &_text-block{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    &_input-block{
        padding: 8px;
        display: flex;
        background-color: var(--background);
        border-radius: 16px;
        gap: 24px;
        justify-content: space-between;
    }

    &_form-title{
        padding-left: 8px;
        @include text-style("discription","desktop");
        color: rgba(89, 89, 89, 1);
    }

    &_form-link{
        @include text-style("discription","desktop");
        text-decoration: none;
        color: var(--blue);
        transition: 0.3s linear;
        background-image: linear-gradient(var(--hoverBlue), var(--hoverBlue));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: .5s ease-in-out;
    }
    &_form-link:hover{
        color: var(--hoverBlue);
        background-size: 100% 1px;
    }

    &_input{
        background-color: transparent;
        padding: 12px;
        border: none;
        cursor: pointer;
        color: var(--hoverBlue);
        @include text-style("body", "desktop");
    }

    &_input::placeholder{
        @include text-style("body", "desktop");
        color: var(--grey);
    }

    &_input:hover::placeholder{
        color: var(--hoverBlue);
    }

    &_input:focus{
        outline: none;
    }

    &_input:focus::placeholder{ 
        opacity: 0;
    }

    &_input-block:has(&_input:focus){
        box-shadow: 0 8px 20px 0 rgba(94, 84, 160, 0.25);
    }

}
@media screen and (max-width:1300px) {
    .price{
        display: flex;
        flex-direction: column;
        padding: 40px 56px;
    }
    
}
@media screen and (max-width:700px) {
    .price{
        padding: 40px 8px;
        &_left{
            width: 100%;
        }
        &_img-main{
            width: 100%;
            height: auto;
            aspect-ratio: 1;
    
        }
        &_img-cirk{
            width: 80%;
            height: auto;
            aspect-ratio: 1;
        }
        &_form-title{
            padding-left: 8px;
            @include text-style("discription","mobile");
        }
        &_title{
            @include text-style("2", "mobile");
            max-width: none;
        }
        &_form{
            padding-right: 0;
        }
        &_input-block{
            gap: 0;
            padding: 3px;
            width: 100%;
        }
        &_input-email{
            padding: 2px;
        }

    }
}
@media screen and (max-width:700px) {
    .price{
        &_input-block{
            justify-content: space-between;
        }
        &_input{
            @include text-style("body", "mobile");
            padding: 1px;
        }
        &_btn{
            padding: 10px;
            @include text-style("span", "mobile");
        }
    }

}
