*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    background-color: #fffcf2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-block{
    background-color: #ffe5d9;
    padding: 30px;
    border-radius: 30px;
    width: 50%;
    border: 1px solid #d8e2dc;
    box-shadow: 0 15px 20px #d8e2dc;
    
}


.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.form_label{
    color: #22223b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 550;
}

.form_input-block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_button{
    color: #22223b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #f4acb7;
    border: 1px solid #9d8189;
}