@use"../../mixin/mixin" as *;

.header{
    position: relative;
    padding: 16px 56px;
    border-radius: 24px 24px 0 0;
    background: var(--white);
    &_block{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
    }

    &_burger{
        position: relative;
        justify-content: center;
        align-items: center;
        display: none;
        cursor: pointer;
    }
    &_burger::before{
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        display: none;
        background-color: rgba($color: #ffffff, $alpha: 0.5);

    }
   
    &_logo-block{
        grid-column: span 2 / span 2;
        display: flex;
    }

    &_account{
        display: none;
    }

    &_logo { 
        color: var(--blue);
        text-decoration: none;
        cursor: pointer;
    }   

    
    &_controllers { 
        display: flex;
        grid-column-start: 7;
        align-items: center;
        gap: 16px;
        grid-column: span 2 / span 2;
        justify-content: end;
    } 

    &_languge{
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &_separator_poll{
        @include text-style("headline","desktop");
        color: var(--grey);
    }

    &_separator{
        @include text-style("headline","desktop");
        color: var(--grey);
        transition: 0.3s;
        cursor: pointer;
    }
    &_separator:hover{
        color: var(--hoverBlue);
    }
    
    &_separator:active{
        color: var(--inactiveBlue);
        transform: scaleZ(1);
    }
    &_separator--active{
        color: var(--blue);
    }
    &_btn-block{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:1300px) {
    .header{
        position: relative;
        &_block{
            display: flex;
            justify-content: space-between;
        }
        &_languge{
            display: none;
        }

        &_burger{
            display: block;
        }
        &_burger::before{
            display: block;
        }
        &_logo-block{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }
    }
}
@media screen and (max-width:600px) {
    .header{
        &_account{
        display: block;
        }
        &_btn{
            display: none;
        }
    }
}








