@font-face{
    font-family: 'VisueltPro-Medium';
    src: url(../../fonts/VisueltPro-Medium.woff);
}
@font-face{
    font-family: 'VisueltPro-Regular';
    src: url(../../fonts/VisueltPro-Regular.woff);
}