@use"../../mixin/mixin" as *;

.btn{
    cursor: pointer;
    padding: 12px 24px ;
    border-radius: 16px;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    
    &_text{
        @include text-style("span", "desktop");
        transition: all 0.2s linear;
    }

    &_blue{
        color: var(--white);
        background-color: var(--blue);
    }

    &_blue:hover{
        background-color: var(--hoverBlue);
        box-shadow: 0 7px 15px 0 rgba(80, 93, 236, 0.25);
    }

    &:hover &_text{
        transform: translateY(-2px);
    }

    &:active &_text{
        transform: none;
    }

    &_blue:active{
        background-color: var(--inactiveBlue);
        box-shadow: none;
        padding: 12px 24px;
    }

    &_white{
        color: var(--blue);
        background-color: var(--white);
    }

    &_white:hover{
        color: var(--hoverBlue);
        box-shadow: 0 7px 15px 0 rgba(80, 93, 236, 0.25);
    }

    &_white:active{
        color: var(--inactiveBlue);
        box-shadow: none;
    }
    
}




@media screen and (max-width:500px) {
    .btn{
        &_text{
            @include text-style("span", "mobile");    
        }
    }   
    
}