@use"../../mixin/mixin"as*;

.feedback{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 56px;
    background-color: var(--white);

    &_form-block{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 550px;
    }

    &_title{
        @include text-style("2","desktop");
    }
    
    &_text{
        @include text-style("body", "desktop");
        color: var(--grey);
    }

    &_form{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &_input{
        background-color: var(--background);
        border-radius: 16px;
        padding: 20px;
        border: none;
        color: var(--hoverBlue);
    }
    &_input::placeholder{
        @include text-style("body", "desktop");
        color: var(--grey);
    }
    &_input:hover{
        box-shadow: 0 8px 20px 0 rgba(94, 84, 160, 0.25);
    }
    &_input:focus{
        outline: none;
    }
    &_input:hover::placeholder{
        color: var(--hoverBlue);
    }
    &_input:focus::placeholder{
        opacity: 0;
    }

    &_btn-block{
        display: flex;
        align-items: center;
        gap: 24px;
    }



    &_btn-text{
        @include text-style("discription", "desktop");
        color: var(--grey);
        max-width: 300px;
    }

    &_link{
        @include text-style("discription","desktop");
        text-decoration: none;
        color: var(--blue);
        transition: 0.3s linear;
        background-image: linear-gradient(var(--hoverBlue), var(--hoverBlue));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: .5s ease-in-out;
    }
    &_link:hover{
        color: var(--hoverBlue);
        background-size: 100% 1px;
    }

    &_img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &_textarea{
        resize:vertical;
    }


    &_img-content{
        display: flex;
        position: relative;
        justify-content: center;   
        align-items: flex-end;
        border-radius: 0 0 50% 50%;
        overflow: hidden;
    }
    &_img-roud{
        width: 90%;
        height: 90%;
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        background-color:var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_img-roud::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(60px);
        z-index: 3;
    }

    &_decor-pink{
        position: absolute;
        animation: 6s feedback_decor-pink infinite;
        
        
    }
    &_decor-blue{
        position: absolute;
        animation: 6s feedback_decor-blue infinite;
    }
    &_decor-white{
        position: absolute;
        animation: 6s feedback_decor-white infinite;
    }
    &_decor-purpur{
        position: absolute;
        animation: 6s feedback_decor-purpur infinite;
    }

    &_img-man{
        z-index: 4;
    }
    @keyframes feedback_decor-pink {
        0%{
            bottom: -60%;
            left: -60%;
        }
        30%{    
            bottom: -30%;
        }
        60%{
            bottom: -50%;
        }
        100%{
            bottom: -60%;
            left: -60%;
        }
    }
     @keyframes feedback_decor-purpur {
        0%{
            bottom: -35%;
            right: -20%;
        }
        30%{    
            bottom: -25%;
            right: -10%;
        }
        60%{
            bottom: -15%;
            right: -5%;
        }
        100%{
            bottom: -35%;
            right: -20%;
        }
    }
     @keyframes feedback_decor-blue {
        0%{
            bottom: -50%;
            right: -20%;
        }
        30%{    
            bottom: -35%;
            right: -15%;
        }
        60%{
            bottom: -20%;
            right: -15%;
        }
        100%{
            bottom: -50%;
            right: -20%;
        }
    }
    @keyframes feedback_decor-white {
        0%{
            bottom: 10%;
            right: -45%;
        }
        30%{    
            bottom: 20%;
            right: -45%;
        }
        60%{
            bottom: 20%;
            right: -70%;
        }
        100%{
            bottom: 10%;
            right: -45%;
        }
    }





    &_men-block{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -9%;
        overflow: hidden;
        border-radius: 0 0 110% 110%;
        z-index: 2;  
    }
 
}

@media screen and (max-width:1100px ) {
    .feedback{
        display: flex;
        &_img{
            display: none;
        }
    }
}
@media screen and (max-width:600px ) {
    .feedback{
        padding: 40px 20px;
        display: flex;
        &_img{
            display: none;
        }
        &_btn-block{
            flex-direction: column;
            align-items: start;
        }
        &_btn-text{
            @include text-style("discription", "mobile");
        }
        &_text{
            @include text-style("body", "mobile");
        }
        &_title{
            @include text-style("2","mobile");
        }
    }

}