@use"../../mixin/mixin" as *;

.reviews{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 80px 56px;

    &_title{
        @include text-style("2", "desktop");
        padding-bottom: 100px;
    }

    &_list{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px;
    }

    &_cart{
        width: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(240px);
        box-shadow: -2px 4px 20px 0 rgba(25, 25, 25, 0.03);
        background: rgba(255, 255, 255, 0.5);
        border-radius: 16px;
    }

    &_header{
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        padding: 16px;
        justify-content: space-between;
        border-radius: 16px 16px 0 0;
    }

    &_user{
        display: flex;
        align-items: center;
        gap: 16px;
        
    }

    &_user-name{
        @include text-style("3", "desktop");
    }

    &_user-img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    &_data{
        @include text-style("body", "desktop");
        color: var(--grey);
    }

    &_content{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 24px ;
    }

    &_text{
        @include text-style("body", "desktop");
        color: var(--grey);
    }

    &_btn-block{
        display: flex;
        justify-content: end;
    }

    &_btn{
        background-color: var(--white);
        color: var(--blue);

    }


    &_1{
        width: 45%;
        z-index: 3;
        position: absolute;
        top: -60px;
        left: 25%;
    }
    
    &_3{
        position: absolute;
        z-index: 2;
        width: 45%;
        bottom: 80px;
        right: 25px;
    }
    &_4{
        position: absolute;
        width: 45%;
        bottom: -30px;
        left: 15%;
    }
    
   

    // ФОНОВЫЙ ДЕКОР

    &_decor{
        position: absolute;
        right: 0;
        top: -35%;
        z-index: -3;
    }

    &_decor1{
        position: absolute;
        right: 0;
        bottom: -50%;
        z-index: -3;
    }
}
@media screen and (max-width:1100px) {
    .reviews{
        &_list{
            grid-template-columns: repeat(1, 1fr);
        }
        &_1{
            position: static;
            width: 100%;
        }
        &_4{
            position: static;
            width: 100%;
        }
        &_3{
            position: static;
            width: 100%;
        }
        &_btn-block{
            display: none;
        }
    }
    
}
@media screen and (max-width:550px) {
    .reviews{
        padding: 40px 8px;
        gap: 40px;
        &_title{
            @include text-style("2", "mobile");
            padding-left: 20px; 
            padding-bottom: 0;
        }   
        &_text{
            @include text-style("body", "mobile");
            
        }
        &_data{
            @include text-style("body", "mobile");
        }
        &_user-name{
            @include text-style("3", "mobile");
        }
    }
}